header {
  padding: 10px 0 10px 0;
    background-color: rgb(127, 183, 124);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    border-radius: 30px;   
    box-shadow: 4px 5px 12px -1px white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  outline: 2px solid #ffffff;
  width: 450px;
  height: 30px;
  margin-right: 20px;
  outline: none;
  border: none;
  border-radius: 30px;
  justify-content: baseline;
  padding-left: 8px;
  color: #ffffff;
  box-shadow: 4px 5px 12px -1px #ffffff;
  background-color: rgb(46, 73, 45);
 
}

.btn {  
  border: none;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  color: white;
  box-shadow: 4px 5px 12px -1px #ffffff;
  background-color: rgb(46, 73, 45);
  
}