header {
  margin: 20px auto;
  border-radius: 5px;
  padding: 15px;
  background: linear-gradient(to right,
      rgba(73, 155, 234, 1) 0%,
      rgba(73, 155, 234, 0.52) 50%,
      rgba(32, 124, 229, 0.87) 100%);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {}

.input {
  outline: 2px solid white;
  width: 350px;
  height: 30px;
  margin-right: 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  justify-content: baseline;
  padding-left: 8px;
  box-shadow: 4px 5px 12px -1px rgba(3, 16, 77, 0.75);
}

.btn {
  border: none;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  box-shadow: 4px 5px 12px -1px rgba(3, 16, 77, 0.75);
}