.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(16, 84, 30);
  color:#14cf40
}

.searchBar {
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(159, 189, 159);
  border: transparent;
  color: #cbdace;
  border-color: rgb(187, 218, 187);
  width: 620px;
  box-shadow: 10px 10px 18px -2px rgb(105, 202, 123);
    transition: transform 250ms linear;
  }


.btns {
  background-color: rgb(187, 209, 187);
  border-radius: 30px;
  color: black;
  border-color: rgb(21, 70, 19);
  box-shadow: 10px 10px 18px -2px rgb(13, 79, 25);
    transition: transform 250ms linear;
  }


.btns:hover,
.btns:focus {
  background-color: rgb(21, 70, 19);
  color: rgb(187, 209, 187);
}



