.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  max-width: 600px;
  max-height: 400px;
}

.button {
  border-radius: 30px;
  background-color: black;
  color: rgb(0, 128, 0);
}